body{
background-color: blue;}
/* .maincontainer{
  width: 100%;
    height: 100%;
}
.hyperballad{
  color: purple;
  font-size: 3em;
  display:inline-block;
  float: right;
      width: 50%;
      height: 100%;
      transform: rotate(90deg);
      margin: 20px auto;
}
.mountain{
  display:inline-block;
  float: left;
   width: 50%;
   height: 100%;
}
*/
.bottom{
  font-family: 'Abril fatface', sans-serif;
  font-size: 3em;
color: rgb(55,79,37);
position: fixed;
left: 1200px;
top: 500px;
bottom: auto;
  right: 0px;
  width: 300px;
  -webkit-animation:colorchange 20s infinite alternate;}
.left{
  font-family: 'Abril fatface', sans-serif;
  font-size: 3em;
color: rgb(55,79,37);
position: fixed;
left: 1000px;
top: 200px;
bottom: auto;
  right: 0px;
  width: 300px;
  -webkit-animation:colorchange 20s infinite alternate;
}
.yo{
  font-family: 'Abril fatface', sans-serif;
  font-size: 3em;
color: rgb(55,79,37);
position: fixed;
left: 1100px;
top: 50px;
bottom: auto;
  right: 0px;
  width: 300px;
  -webkit-animation:colorchange 20s infinite alternate;
}

.right{
  font-family: 'Abril fatface', sans-serif;
  font-size: 3em;
color: rgb(55,79,37);
position: fixed;
left: 280px;
top: 400px;
bottom: auto;
  right: 0px;
  width: 300px;
  -webkit-animation:colorchange 20s infinite alternate;
}

.up{
  font-family: 'Abril fatface', sans-serif;
  font-size: 3em;
color: rgb(55,79,37);
position: fixed;
left: 100px;
top: 200px;
bottom: auto;
  right: 0px;
  width: 300px;
  -webkit-animation:colorchange 20s infinite alternate;
}

div.a{
  height: 100%;
   width: 100%;
   display: flex;
   position: flex;
   align-items: center;
   justify-content: center;
 }
.title{ font-family: 'Notable', cursive;
    font-size:4em;
    color: red;
    display: fixed;
    position: fixed;
    background-color: blue;

    -webkit-transform:
    rotate(-90deg)
    translate(-100px,0px)

}

.b{
  vertical-align: under;
   display: inline-block;

   font-family: 'Inconsolata', serif;
  padding-left: 10em
  font-size:22px;
  color: white;
  z-index: -1;

  -webkit-transform:
rotate(90deg)
  translate(200px,0px);
}

/*rgb(131,245,227)*/
@-webkit-keyframes colorchange {
      0% {

        color: blue;
      }

      10% {

        color: #8e44ad;
      }

      20% {

        color: #1abc9c;
      }

      30% {

        color: #d35400;
      }

      40% {

        color: blue;
      }

      50% {

        color: #34495e;
      }

      60% {

        color: blue;
      }

      70% {

        color: #2980b9;
      }
      80% {

        color: #f1c40f;
      }

      90% {

        color: #2980b9;
      }

      100% {

        color: pink;
      }
    }
}
